#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.verde {
    background-color: rgb(179, 252, 179);
    border-color: black;
}

.aqua {
    background-color: aquamarine;
    border-color: black;
}

.base {
    background-color: whitesmoke;
}


